body {
	margin: 0;
	font-family: Arial, sans-serif;
}


.header{
	 overflow: hidden;
	 text-align: left;
	 position: fixed; /* Set the navbar to fixed position */
	 top: 0; /* Position the navbar at the top of the page */
	 width: 100%; /* Full width */
	 z-index: 100;
	 background: linear-gradient(to right, rgb(75, 121, 161), rgb(40, 62, 81));
	 color: white;
	 opacity: 0.95;
	 -webkit-box-shadow: 0px 3px 5px rgba(100, 100, 100, 0.49);
	 -moz-box-shadow:    0px 3px 5px rgba(100, 100, 100, 0.49);
	 box-shadow:         0px 3px 5px rgba(100, 100, 100, 0.49);
}

.header-text{
	color: black;
	text-shadow: -0.5px 0 #d3d3d3, 0 1px #d3d3d3, 1px 0 #d3d3d3, 0 -0.5px #d3d3d3;\
	padding-left: 5px;
	display: inline-block;
}

.logo-container{
	display: inline-block;
	max-height: 4em;
	line-height: 4em;
	text-align: right;
	vertical-align: middle;
	float: right;
}

.logo {
	max-height: 4em;
	padding-top: .5em;
	vertical-align: middle;
}

.search-area {
	width: 50%;
	display: flex;
	height: 2em;
	line-height: 2em;
	margin-top: 1em;
	margin-left: 5px;
	color: white;
}

.search-box {
	flex-grow: 1;
	font-size: 1em;
	vertical-align: middle;
	margin-left: 2px;
	margin-right: 1em;
	max-width: 75vw;    max-width: 75vw;
}

.flex-container {
	width: 100%;
	height: 100%;
	display: flex;
	margin-top: 5em;
}

.list {
	order: 1;
	flex-grow: 0;
	background: linear-gradient(141deg, #000000 0%, #010101 51%, #434343 75%);
	opacity: 0.95;
}

.map {
	order: 2;
	flex-grow: 4;
	background-color: #fff;
	text-align: center;
	height: 62.5em;
}

.locations {
	margin: 0;
	padding: 0;
}

.restaurant {
  margin: 10px;
  padding: 10px;
  list-style: none;
  background-color: #F69F14;
	border-radius: 15px
}

.restaurant:hover {
	cursor: pointer;
}

input {
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}


@media only screen and (max-device-width : 959px)  {

.flex-container {
	flex-direction: column;
}

.logo-container {
	float: none;
}

.logo {
	padding-top: 0;
}

.search-box, .list {
	font-size: 1.5em;
}

}
